version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    memlimits: 512m

  backend:
    build: .
    container_name: nestjs-backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
    restart: always
    memlimits: 256m

volumes:
  pgdata:
