version: "3.9"


services:
  db:
    image: postgres:15
    healthcheck:
      test: ["CMD","curl","-f","http://localhost"]
      interval: 10s
      timeout: 10s
      retries: 3
    container_name: postgres
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    mem_limit: 512m

  backend:
    build: .
    container_name: nestjs-backend
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
    restart: always
    mem_limit: 256m

volumes:
  pgdata:
